body{
   min-width:900px;
   font-weight: 500;
   font-size: 16px;
   line-height: 22px;
   font-family: "Roboto", "Arial", sans-serif;
   background: #8a9c8f;
}
.first-header
{
font-size: 60px;
color: #ffffff;
font-family: "Roboto", Helvetica, sans-serif;
font-weight: bold;
line-height: 1.006;
}
.second-header
{
font-size: 35px;
line-height: 27px;
color:#ffffff;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 860px;
  margin: 0 auto;
}

.main-header {
  color: #ffffff;
}

.header-logo{
  float: left;
  width: 170px;
  min-height: 70px;
  margin-right: 10px;
}

.main-navigation {
  float:left;
  margin-top: 10px;
}
.main-navigation a {
  display:block;
  padding: 10px 13px;
  color: #ffffff;
}
.main-navigation a:hover {
  border-radius: 20px;
  background: #ba6f5a;
}
.main-navigation ul {
  padding: 0;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  vertical-align: top;
}

.user-block {
  float: right;
  box-sizing: border-box;
  margin-top: 10px;
  min-height: 50px;
}
.user-block a{
  display:block;
  padding: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}
.login{
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 10px;
  text-align: center;
  top:4px;
  padding-left: 22px;
  width: 71px;
  height: 30px;
  border-radius: 30px;
  background: #abbaaf;
}
.login::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 14px;
  width: 22px;
  height: 20px;
  background: url("../img/sprite_header.png") no-repeat;
  background-position: -10px -50px;

}
.loop{
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 10px;
  top:4px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #abbaaf;
}
.loop::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 18px;
  height: 19px;
  background: url("../img/sprite_header.png") no-repeat;
  background-position: -10px -129px;
}
.basket{
  display: inline-block;
  position: relative;
  vertical-align: top;
  top: 5px;
  padding-left: 53px;
  width: 65px;
  height: 30px;
  border-radius: 30px;
  background: #abbaaf;
}
.full::before{
  content: "";
  position: absolute;
  top: 5px;
  left: 19px;
  width: 21px;
  height: 21px;
  background: #ff0000;
  background: url("../img/sprite_header.png") no-repeat;
  background-position: -10px -89px;
}
.empty::before{
  content: "";
  position: absolute;
  top: 5px;
  left: 19px;
  width: 21px;
  height: 21px;
  background: #ff0000;
  background: url("../img/sprite_header.png") no-repeat;
  background-position: -10px -10px;
}
.header-info{
  text-align: right;
}
.header-info p{
  margin:0px;
}
.number{
  font-size: 22px;
  font-weight: 700;
}

.slider{
  padding-top: 255px;
  height:230px;
  margin-bottom:60px;
}
.slider .first-header{
  text-align: center;
}
.slider a{
  display:block;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: #ad422b 1px 1px 2px;
  box-shadow: 0px 1px #a06350;
  background: linear-gradient(#da9261, #c14e3b);
  width:278px;
  height:45px;
  margin-left:280px;
  margin-top: -20px;
  padding-top: 18px;
  border-radius: 30px;
}
.slider::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 200px;
  width: 21px;
	height: 21px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
  background-color: #ffffff;
}

.promotion{
  margin-bottom:35px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.promotion a{
  display: block;
  margin-top: 9px;
  color: #ffffff;
  text-decoration: none;
}
.promotion .block{
  float: left;
  width:400px;
  border-radius: 20px;
  padding-left: 20px;
      margin-right: 20px;
}
.promotion .block:last-child{
  margin-right: 0px;
}
.promotion-raspberry{
  background: url("../img/bg-promotion-rasberry.jpg") no-repeat;
  background-size: auto;
}
.promotion-chocolate{
  background: url("../img/bg-promotion-chocolate.jpg") no-repeat;
  background-size: auto;
}

.popular-items{
  margin-bottom:30px;
  font-size: 0;
}
.cirle{
  border-radius: 50%;
}
.item {
  display:inline-block;
  position:static;
  vertical-align: top;
  margin-right: 16px;
  margin-bottom: 30px;
}
.item:nth-child(4n) {
  margin-right: 0px;
}
.hit::before {
  content: "";
  position: absolute;
  vertical-align: top;
  z-index: 2;
  width: 61px;
  height: 61px;
  background: url("../img/icon-hit.png") no-repeat;
}
.item a{
  display:block;
  font-size: 16PX;
  width: 200px;
  color: #ffffff;
  text-align: center;
}
.item p{
  font-weight: 700;
  font-size: 35px;
  margin-top: -50px;
  color: #ffffff;
}
.item p span {
    font-weight: 900;
    font-size: 41px;
    line-height: 22px;
    margin-top: -50px;
    color: #ffffff;
}
.item:hover{
  position:relative;
  border-radius: 10px;
  background: #afbbb2;
}
.item .actions{
    position:absolute;
    bottom:0;
    left:0;
    z-index:10;
}
.item .actions .view{
    display:block;
    width: 200px;
    height:33px;
    padding-top: 7px;
    font-size: 18px;
    text-decoration: none;
    color:#ffffff;
    text-shadow: #ad422b 1px 1px 2px;
    box-shadow: 0px 1px #a06350;
    background: linear-gradient(#d36244, #c14e3b);
    border-radius: 30px;
}
.item .actions{
    display:none;
}
.item:hover .actions{
    display:block;
}

.breadcrumbs{
  box-sizing: border-box;
  vertical-align: top;
  margin-top: -30px;
}
.breadcrumbs a {
  display:block;
  padding: 10px 13px;
  color: #ffffff;
}
.breadcrumbs ul {
  padding: 0;
  font-size: 0;
}
.breadcrumbs li {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.breadcrumbs p {
  display: inline-block;
  margin-top: 1px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  vertical-align: top;
  color: #ffffff;
}

.filters{
  font-size: 0;
  margin-top: -5px;
}
.filters fieldset{
  display: inline-block;
  vertical-align: top;
  border: none;
  font-size: 14px;
  margin-right: 10px;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
}
.filters fieldset:last-child{
  width:140px;
  margin-right: 0px;
}
.filters legend{
  display: block;
  font-weight: 14px;
  color:#ffffff;
  margin-bottom: 9px;
}
.filters label{
  display:inline-block;
  font-size: 16px;
  vertical-align:top;
  color:#ffffff;
  line-height: 22px;
  margin-right: 16px;
}
.filters label:nth-child(8){
  display: inline-block;
  vertical-align:top;
  margin-right: 0px;
}
.filters select{
  width:200px;
  border-style: none;
  background: transparent;
  color: #ffffff;
}
.filters input[type=radio], .filters input[type=checkbox],
.filters input[type=range]{
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}

.decorate:hover{
  color: #373737;
  background: #ffffff;
}

.decorate{
  display: inline-block;
  vertical-align: middle;
  height:30px;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 9px;
  border-radius: 30px;
  background: #adb9b0;
}
.submit{
  display: inline-block;
  margin-top: 28px;
  width: 125px;
  margin-right: 0px;
  border: 2px solid #ffffff;
}
.submit-deco{
  padding-left: 23px;
  color:#ffffff;
  border:none;
  background: #adb9b0;

}
.product{
  font-size: 0;
  margin-top: 40px;
}

.paginator{
  display:block;
  font-size: 0;
  text-align: right;
  min-height: 30px;
  box-sizing: border-box;
  margin-bottom: 27px;
  margin-right: 30px;
}
.paginator a{
  display: inline-block;
  text-align: center;
  font-size: 16px;
  width: 20px;
  vertical-align: middle;
  color: #ffffff;
}
.paginator a:hover{
  color:#363636;
  width:20px;
  height:20px;
  border-radius: 20px;
  background: #ffffff;
}

.shop-info{
  margin-bottom: 40px;
  border-radius: 20px;
  background: url("../img/bg-shop-news.png");
}
.shop-info h3{
  padding-top: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-left: 20px;
  margin-right: 40px;
}
.points{
  font-size: 0;
  margin-top: -10px;
}
.point{
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 10px;
  padding-right: 15px;
  font-size: 16px;
  width:50%;
  padding-left: 70px;
  box-sizing: border-box;
}
.point::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 49px;
  height: 49px;
  background: url("../img/sprite-point.png") no-repeat;
}
.ice-cream::before{
  width: 49px;
   height: 49px;
   background-position: -10px -79px;
}
.cow::before{
  width: 48px;
  height: 49px;
  background-position: -10px -10px;
}
.leaf::before{
  width: 49px;
  height: 49px;
  background-position: -10px -148px;
}
.termometre::before{
  width: 48px;
  height: 49px;
  background-position: -10px -217px;
}

.news-mailing{
  margin-bottom: 325px;
}
.news-mailing .block{
  float:left;
  width: 420px;
  border-radius: 20px;
}
.news-mailing .block:last-child{
  float: right;
}
.news-mailing a{
  display: block;
  margin-top: -15px;
  margin-left: 20px;
  background-color:#ffffff 0.3;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #383838;
}
.shop-news p{
  margin-left: 20px;
}
.shop-news {
  padding-bottom: 135px;
  border-radius: 20px;
  background: url("../img/bg-news-strawberry.jpg");
  background-size: cover;
}
.mailing{
  color: #000000;
  background: #f7f7f4;
  padding-bottom: 41px;
}
.mailing .mail{
  display:inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-left: 20px;
  height:40px;
  opacity:0.5;
  padding-left: 15px;
  border-radius: 6px;
}
.mailing p{
  margin-left: 25px;
  margin-top: 38px;
}

.btn {
  float:right;
  height:42px;
  border:none;
  min-width: 125px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  color:#ffffff;
  text-shadow: #ad422b 1px 1px 2px;
  box-shadow: 0px 1px #a06350;
  background: linear-gradient(#d46546, #c14e3b);
  border-radius: 30px;
}

.map{
  background: url("../img/map.jpg") no-repeat;
  background-size: cover;
}
.contacts{
  float:right;
  width: 300px;
  margin-top: 60px;
  margin-bottom: 70px;
  padding-bottom: 20px;
  border-radius: 20px;
  background: #fefefe;
}

.contacts p{

  padding-top: 20px;
  margin-left: 25px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
}
.contacts b{
  display: block;
  font-size: 18px;
  line-height: 24px;
}
.contacts a{
  display: block;
  font-size: 18px;
  line-height: 24px;
  color:#000000;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
}
.contacts .btn{
  display: inline-block;
  width:250px;
  height:33px;
  padding-top: 10px;
  border:none;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: #ad422b 1px 1px 2px;
  box-shadow: 0px 1px #a06350;
  background: linear-gradient(#da9261, #c14e3b);
  color:#ffffff;
  border-radius: 30px;
}

.footer-social{
  float:left;
  box-sizing: border-box;
  margin-right: 50px;
  padding-top:35px;
}
.social-btn{
  display:inline-block;
  width: 32px;
  height: 32px;
  margin: 0 2px;
  border-radius: 30px;
  border: 3px solid #c5cec7;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #e8ebe9 url("../img/sprite-footer.png") no-repeat;
}
.social-btn::before{
  content: "";
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background-image: url("img/sprite-footer.png") no-repeat;
}
.social-btn-twitter{
  background-position: -5px -89px;
  background-color: #8a9c8f;
}
.social-btn-inst{
  background-position: -5px -47px;
  background-color: #8a9c8f;
}
.social-btn-fb{
  background-position: -5px -5px;
  background-color: #8a9c8f;
}
.social-btn-vk{
  background-position: -5px -131px;
  background-color: #8a9c8f;
}
.footer-links{
  float:left;
  position: relative;
  width:380px;
  margin-top: 35px;
}
.footer-links a{
  display: block;
  float:left;
  margin-left: 20px;
  font-size: 13px;
  line-height: 18px;
  width:170px;
  height:20px;
  color:#ffffff;
}
.footer-links::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  width: 15px;
  height: 13px;
    background: url("../img/icon-heart.png") no-repeat;
}
.footer-copyright{
  float:right;
  width:190px;
  height:80px;
  padding-top: 20px;
  padding-left: 10px;
}
.footer-copyright p{
  display: inline-block;
  float: right;
  margin-top: -5px;
  font-size: 12px;
  line-height: 18px;
  color:#ffffff;
}
.footer-copyright a{
  line-height: 18px;
  color:#ffffff;
}
